<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Your Quitt Share Trade</title>
    <style>
        h1 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 80px;
            font-weight: 200;
            font-size: 24px;
        }

        .row {
            margin: 20px auto;
        }

        p {
            margin: 0px auto;
            width: 80%;
            text-align: left;
        }

        html,
        body {
            font-family: 'Roboto', sans-serif;
            color: #333;
            height: 287mm;
            width: 210mm;
            font-size: 15px;
        }

        table {
            width: 70%;
            margin: 100px auto;
        }

        .english {
            height: 287mm;
        }

    </style>
</head>

<body>
    <div class="english">
        <div class="row">
            <img src="https://quitt.ch/wp-content/uploads/2017/09/Logo-rgb-header-2.png"
                style="width:50%; max-width:100px; margin: 60px 45%">
        </div>
        <h1>Your ServiceHunter AG Share Trade</h1>
        <div class="row">
            <p>Dear client, <br><br>
                thank you for trading our shares. Please find below your transaction details.
            </p>
        </div>
        <div class="row">
            <table>
                <tr>
                    <td>Date</td>
                    <td><%= now %></td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td><%= type %></td>
                </tr>
                <tr>
                    <td>Transaction Hash</td>
                    <td> <a href="<%= etherscanLink %>" target="_blank" rel="noopener noreferrer">Link</a> </td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><%= price %> Swiss Francs</td>
                </tr>
                <tr>
                    <td>Number of Shares</td>
                    <td><%= numberOfShares %></td>
                </tr>
                <tr>
                    <td>Your Wallet Address</td>
                    <td><%= walletAddress %></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <p>
                In case you bought ServiceHunter AG shares, please register your wallet address on our
                <a href="https://quitt.ch/investoren/">investor relations page</a>. <br><br>
            </p>
        </div>
        <div class="row">
            <p>
                Best regards, <br> <br>
                Your Quitt Team
            </p>
        </div>


        <div class="row" style="font-size: 12px;">
            <p>
                We have also sent this confirmation to your e-mail address <%= emailAddress %>.
            </p>
        </div>
    </div>
 
</body>

</html>